@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

html, body {
  width:100%;
  height:100%;
  background:#C5FFE1;
  margin: 0;
  padding:0;

  width:1080px;
  height:1920px;
}

html {
  background:black;
}

.cols {
  display:flex;
}

.topmood {
  flex: 1;
  background:white;
  border-radius:5px;
  padding:60px;
}

.floors {
  flex: 1;
  padding:20px;
}

.floor {
  background:white;
  border-radius:5px;
  padding:20px;
  margin-bottom:10px;
}


.head-image {
 display: flex;
 justify-content: center;
 align-items: center;
}
.titre {
  width: 60%;
  margin-top: 80px;
}
.titre2 {
  width: 40%;
  margin-top: 120px;
}
.ailleurs {
  margin-top: 60px;
}

p {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 20px;
}

.aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.mood {
  margin: 30px 10px;
  width: 130px;
  height: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}
.mood.active {
  background:white;
}
.mood.top {
  transform:scale(1.2);
}

.pictos {
  width: 85px;
  justify-content: space-between;
}


.bulle {
  display: block;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

  border-style: solid;
  border-width: 25px;
  border-color: white;
  border-radius: 200px;

  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
}
.objet {
 font-weight: bolder;
}
.mail, .nom {
  color: grey;
  font-size: 18px;
}

.place {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: white;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 200px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 18px;

  background-size: auto 22px;
  background-repeat: no-repeat;
  padding-left: 35px;
}
.places {

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
