<div class="actus_inner">

<% for (var i = 0; i < mails.length; i++) { %>

  <div class="bulle">
  <div class="objet"> <%= mails[i].subject %> </div>
  <div class="objet"> <%= mails[i].body %> </div>
  <div class="objet"> <%= mails[i].from__name %> </div>
  <div class="objet"> <%= mails[i].from_mail %> </div>
  </div>
<% } %>

</div>
