<div class="actus_inner">

<% for (var i = mails.length-1; i >= 0; i--) { %>

  <div class="bulle">
  <div class="objet"> <%= mails[i].subject %> </div>
  <div class="corps"> <%= mails[i].body %> </div>
  <div class="nom"> <%= mails[i].from_name %> </div>
  <div class="mail"> <%= mails[i].from_mail %> </div>
  </div>
<% } %>

</div>
